*{
    margin: 0;
    box-sizing: border-box;
}

.pane{
    width: 100vw;
    height: 50px;
    background-color: blue;

}
.sidebar{
    /* position: absolute; */
    height: 100vh;
    width: 4vw;
    background-color: blue;
    position: fixed;
}


.head{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

.text-body{
    padding-left:4vw ;
    width: 50vw;
    height: 100vh;
    background-color: aquamarine;

}

.image-body{
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap:1rem; */
}
.image-element{

    display: inline-block;
    margin: 5px;
    width: 280px;
    height:340px ;
    background-color: antiquewhite;
    border-radius: 20px;
}
